<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks.fintech.indi.biz.yufr.mapper.UserPreferenceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="indi.biz.yufr.entity.UserPreference">
        <result column="id" property="id" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_time" property="lastModifiedTime" />
        <result column="user_id" property="userId" />
        <result column="preference_code" property="preferenceCode" />
        <result column="preference_value" property="preferenceValue" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        created_by,
        created_time,
        last_modified_by,
        last_modified_time,
        user_id, preference_code, preference_value
    </sql>

</mapper>
